
.login-background{
	position: relative;
	background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
	position: relative;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	padding:0;
	margin:0px;
}

.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #D7D4E4;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #FFF ;
}
.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}

/* Animate Background*/
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

.login_block{
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	padding-top:10%;
	
}

.field_login{
	padding:0 40px;
}

.form-control{
	width: 100%;
}

.btn_login{
	display:flex;
	justify-content:center;
	align-items:center;
	padding:0 40px;
	margin-top:20px;
}

.btn{
	width: 100%;
}


@media (max-width: 480px){
	.login_block {
		padding-top: 50%;
		width:90%;
	}
}

.btn-primary {
    color: #fff;
    background-color: #1266f1;
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
    color: #fff;
    background-color: #0c56d0;
	border-color: #0e52c1;
}